.taxer {
  background-color: lightgoldenrodyellow;
  color: black;
  width: 96%;
  padding: 10px;
}

.taxer tr:nth-child(2n+1) {
  background-color:antiquewhite;
}


.error {
  background-color: red;
  color: white;
  width: auto;
  padding: 10px;
}