/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
*/
/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 2%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gc {
  width: 96%;
  display: block;
  padding: 10px;
}

  .gc > div {
    /*border: 1px dotted gray;*/
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

    div.c3 {
      text-align: left;
      margin-left: 0;
    }

    div.c4 {
      text-align: right;
    }

@media only screen and (min-width: 500px) {
  .gc {
    width: 96%;
    display: grid;
    grid-template-columns: repeat( 4, 1fr);
  }

  .gc > div.c3 {
    text-align: left;
  }

  .c1 {
    grid-column-start: 1;
  }

  .c2 {
    grid-column-start: 2;
    grid-column-end: span 3;
  }

  .c3 {
    grid-column-start: 1;
    grid-column-end: span 3;
  }

  .c4 {
    grid-column-start: 4;
  }
}